
/* Define root variables */
:root {
    --dark:#0a1b2d;
}
/* Elements */
html {
    height: 100%;
    background: #1bc296;
    margin:auto;
}
body {
    height: 100%;
    width:100vw;
    background: linear-gradient(#89f6b6, #1bc296);
}


h1{
    background: -webkit-linear-gradient( #3b84d3,  var(--dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CLASSES */

/* Container for main */
.container {
    padding-top: 40px;
}

/* Results list styling (for each li) */
.list-result {
    line-height: 20px;
    color:var(--dark);
    background-color: rgb(238, 238, 238);
    width: 95%;
    line-height: 30px;
}
/* Link on results list*/
.list-link {
    color: #12b489;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20px;
}
/* Description for the results, below the link */
.list-description{
    font-weight: bold;
    line-height: 20px;
    margin-left: 20px;
    color:#666768;
}
/* Search history items inside the button */
.search-history-item {
    background-color: var(--dark);
    height: 50px;
    width: 130px;
    color: white;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 40px;
}

 /* Class to hide result on the first page */
.hide {
    display: none;
}

/* Styling features added to bulma styling for footer */
.footer-container {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 100px;
    padding: 3rem 1.5rem 2rem
}
/* IDs */

/* Search bar */
#search {
    background: var(--dark);
    height: 70px;
    width: 600px;
    border-radius:40px;
}
/* Users input on the search bar */
#search-input {
    border: none;
    background: none;
    outline: none;
    line-height: 40px;
}
/* Bulma magnifying glass icon repositioning */
#search-icon {
    top: 17px;
    left: 10px;
}
/* Search button on the search bar */
#search-btn {
    background-color: var(--dark);
    width: 90px;
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Hovering search button */
#search-btn:hover {
    background-color: white;
    color:#0a1b2d;
}





